@model IEnumerable<Course>

<div class="flex justify-between items-center mt-5">
    <div>
        <h2>Course List</h2>
    </div>

    <div>
        <a asp-controller="Courses" asp-action="Create" class="btn btn-primary">Add Course</a>
    </div>
</div>
<div class="divider"></div>

<div class="flex justify-center">
    <div class="w-[1000px]">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Instructor</th>
                    <th>Hours</th>
                    <th>Level</th>
                    <th>Rating</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr class="hover">
                        <th>@course.Id</th>
                        <td>@course.Title</td>
                        <td>@course.Category?.Name</td>
                        <td>@course.User?.FullName</td>
                        <td>@course.Hours</td>
                        <td>@course.Level?.Name</td>
                        <td>@course.Rating</td>
                        <td>@course.Description</td>
                        <td>
                            <a asp-controller="Courses" asp-action="Edit" asp-route-id="@course.Id"
                                class="btn btn-sm btn-warning">Edit</a>
                            <button class="btn btn-sm btn-error" onclick="my_modal_@(course.Id).showModal()">
                                Delete
                            </button>

                        </td>
                    </tr>
                    @await Html.PartialAsync("_Delete", course)
                }
            </tbody>
        </table>
    </div>
</div>